# run custom xrandr script on hdmi (un)plug
#KERNEL=="card0", SUBSYSTEM=="drm", ACTION=="change", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/lahwaacz/.Xauthority", RUN+="/home/lahwaacz/Scripts/initscreen.sh"
