[Unit]
Description=Dropbox daemon
After=network.target

[Service]
User=lahwaacz
Environment=DISPLAY=:0
ExecStart=/usr/bin/dropboxd
KillSignal=SIGINT
Restart=on-success
RestartSec=1

[Install]
WantedBy=multi-user.target
