.include /usr/lib/systemd/system/netctl-ifplugd@.service

[Unit]
# start after iptables
After=iptables.service
Requires=iptables.service

[Service]
TimeoutSec=1s
