.include /usr/lib/systemd/system/netctl-ifplugd@.service

[Unit]
# start after iptables
After=iptables.service
Requires=iptables.service

# pull in network target
Before=network.target
Wants=network.target

[Service]
TimeoutSec=2s
