[Unit]
Description=rfkill
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rfkill block bluetooth
ExecStart=/usr/bin/rfkill unblock wifi

[Install]
WantedBy=multi-user.target
