[Unit]
Description=Lock X session using sflock

[Service]
User=lahwaacz
Environment=DISPLAY=:0
Type=forking
ExecStart=/usr/bin/sflock

[Install]
WantedBy=sleep.target
