[Unit]
Description=monitor logging activity and react to attacks by blocking their source addresses
After=iptables.service
Requires=iptables.service

[Service]
ExecStart=/usr/sbin/sshguard -l /var/log/auth.log &> /dev/null

[Install]
WantedBy=multi-user.target
