[Unit]
Description=Lock all tmux clients in tty (not in virtual terminal under X)

[Service]
Type=oneshot
ExecStart=/etc/systemd/scripts/tmuxlock.sh

[Install]
WantedBy=sleep.target
