[Unit]
Description=Update /etc/pacman.d/mirrorlist

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/etc/cron.weekly/update-mirrorlist
